In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['window-prediction-to-frame-predictions', 'grasp-and-lift-eeg-detection']

In [2]:
from pathlib import Path

In [3]:
train_events = Path("../input/grasp-and-lift-eeg-detection/train/").glob("*events.csv")

In [4]:
train_events_df = pd.concat([pd.read_csv(path) for path in train_events], 
                            axis=0)

In [5]:
train_events_df.shape

(17985754, 7)

In [6]:
train_predicted_df = pd.read_csv("../input/window-prediction-to-frame-predictions/train_frame_prediction.csv")

In [7]:
train_events_df[train_events_df.id == "subj12_series12_153650"]

Empty DataFrame
Columns: [id, HandStart, FirstDigitTouch, BothStartLoadPhase, LiftOff, Replace, BothReleased]
Index: []

In [8]:
train_predicted_df[-1000:]

          Unnamed: 0          ...                               id
17981225    17981225          ...            subj12_series8_153650
17981226    17981226          ...            subj12_series8_153651
17981227    17981227          ...            subj12_series8_153652
17981228    17981228          ...            subj12_series8_153653
17981229    17981229          ...            subj12_series8_153654
17981230    17981230          ...            subj12_series8_153655
17981231    17981231          ...            subj12_series8_153656
17981232    17981232          ...            subj12_series8_153657
17981233    17981233          ...            subj12_series8_153658
17981234    17981234          ...            subj12_series8_153659
17981235    17981235          ...            subj12_series8_153660
17981236    17981236          ...            subj12_series8_153661
17981237    17981237          ...            subj12_series8_153662
17981238    17981238          ...            subj12_series8_153663
17981239    17981239          ...            subj12_series8_153664
17981240    17981240          ...            subj12_series8_153665
17981241    17981241          ...            subj12_series8_153666
17981242    17981242          ...            subj12_series8_153667
17981243    17981243          ...            subj12_series8_153668
17981244    17981244          ...            subj12_series8_153669
17981245    17981245          ...            subj12_series8_153670
17981246    17981246          ...            subj12_series8_153671
17981247    17981247          ...            subj12_series8_153672
17981248    17981248          ...            subj12_series8_153673
17981249    17981249          ...            subj12_series8_153674
17981250    17981250          ...            subj12_series8_153675
17981251    17981251          ...            subj12_series8_153676
17981252    17981252          ...            subj12_series8_153677
17981253    17981253          ...            subj12_series8_153678
17981254    17981254          ...            subj12_series8_153679
...              ...          ...                              ...
17982195    17982195          ...            subj12_series8_154620
17982196    17982196          ...            subj12_series8_154621
17982197    17982197          ...            subj12_series8_154622
17982198    17982198          ...            subj12_series8_154623
17982199    17982199          ...            subj12_series8_154624
17982200    17982200          ...            subj12_series8_154625
17982201    17982201          ...            subj12_series8_154626
17982202    17982202          ...            subj12_series8_154627
17982203    17982203          ...            subj12_series8_154628
17982204    17982204          ...            subj12_series8_154629
17982205    17982205          ...            subj12_series8_154630
17982206    17982206          ...            subj12_series8_154631
17982207    17982207          ...            subj12_series8_154632
17982208    17982208          ...            subj12_series8_154633
17982209    17982209          ...            subj12_series8_154634
17982210    17982210          ...            subj12_series8_154635
17982211    17982211          ...            subj12_series8_154636
17982212    17982212          ...            subj12_series8_154637
17982213    17982213          ...            subj12_series8_154638
17982214    17982214          ...            subj12_series8_154639
17982215    17982215          ...            subj12_series8_154640
17982216    17982216          ...            subj12_series8_154641
17982217    17982217          ...            subj12_series8_154642
17982218    17982218          ...            subj12_series8_154643
17982219    17982219          ...            subj12_series8_154644
17982220    17982220          ...            subj12_series8_154645
17982221    17982221          ...            subj12_series8_154646
17982222    17982222          ...            subj12_series8_154647
17982223    17982223          ...            subj12_series8_154648
17982224    17982224          ...            subj12_series8_154649

[1000 rows x 8 columns]

In [9]:
train_diff = set(train_events_df.id) - set(train_predicted_df.id)

In [10]:
train_events_df[:10]

                 id  HandStart      ...       Replace  BothReleased
0  subj12_series7_0          0      ...             0             0
1  subj12_series7_1          0      ...             0             0
2  subj12_series7_2          0      ...             0             0
3  subj12_series7_3          0      ...             0             0
4  subj12_series7_4          0      ...             0             0
5  subj12_series7_5          0      ...             0             0
6  subj12_series7_6          0      ...             0             0
7  subj12_series7_7          0      ...             0             0
8  subj12_series7_8          0      ...             0             0
9  subj12_series7_9          0      ...             0             0

[10 rows x 7 columns]

In [11]:
len(train_diff)

3530

In [12]:
list(train_diff)[:10]

['subj10_series8_126702',
 'subj5_series2_138009',
 'subj6_series7_133386',
 'subj2_series3_152720',
 'subj4_series7_121428',
 'subj7_series6_147127',
 'subj8_series5_118694',
 'subj11_series3_266217',
 'subj4_series3_131485',
 'subj5_series8_129495']

In [13]:
rows = []
for id_ in train_diff:
    row = {col: 0 for col in train_events_df.columns[-6:]} 
    row["id"] = id_
    rows.append(row)

In [14]:
len(rows)

3530

In [15]:
train_predicted_df.shape

(17982225, 8)

In [16]:
train_predicted_df = train_predicted_df.append(rows, ignore_index=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [17]:
train_predicted_df.shape

(17985755, 8)

In [18]:
train_predicted_df[-10:]

          Unnamed: 0          ...                               id
17985745         NaN          ...            subj11_series8_134254
17985746         NaN          ...             subj6_series5_215755
17985747         NaN          ...             subj4_series6_243658
17985748         NaN          ...             subj7_series2_212892
17985749         NaN          ...             subj9_series8_127453
17985750         NaN          ...             subj9_series1_141424
17985751         NaN          ...             subj5_series2_138043
17985752         NaN          ...             subj8_series1_200407
17985753         NaN          ...             subj7_series5_212532
17985754         NaN          ...             subj1_series6_249549

[10 rows x 8 columns]

In [19]:
import re

In [20]:
ID_PATTERN = r"subj(?P<subject>\d+)_series(?P<series>\d+)_(?P<frame>\d+)"

In [21]:
extracted = train_predicted_df["id"].str.extract(ID_PATTERN)

In [22]:
extracted[:10]

  subject series frame
0       1      1     0
1       1      1     1
2       1      1     2
3       1      1     3
4       1      1     4
5       1      1     5
6       1      1     6
7       1      1     7
8       1      1     8
9       1      1     9

In [23]:
for col in extracted.columns:
    train_predicted_df[col] = extracted[col].astype("int")

In [24]:
train_predicted_df = train_predicted_df.sort_values(by=["subject", "series", "frame"], axis=0)

In [25]:
train_predicted_df[:10]

   Unnamed: 0  BothReleased  BothStartLoadPhase  ...    subject  series  frame
0         0.0      0.051856             0.00675  ...          1       1      0
1         1.0      0.051856             0.00675  ...          1       1      1
2         2.0      0.051856             0.00675  ...          1       1      2
3         3.0      0.051856             0.00675  ...          1       1      3
4         4.0      0.051856             0.00675  ...          1       1      4
5         5.0      0.051856             0.00675  ...          1       1      5
6         6.0      0.051856             0.00675  ...          1       1      6
7         7.0      0.051856             0.00675  ...          1       1      7
8         8.0      0.051856             0.00675  ...          1       1      8
9         9.0      0.051856             0.00675  ...          1       1      9

[10 rows x 11 columns]

In [26]:
extracted = train_events_df["id"].str.extract(ID_PATTERN)

In [27]:
for col in extracted.columns:
    train_events_df[col] = extracted[col].astype("int")

In [28]:
del extracted

In [29]:
import gc
gc.collect()

32

In [30]:
train_events_df = train_events_df.sort_values(by=["subject", "series", "frame"], axis=0)

In [31]:
from sklearn.metrics import roc_auc_score

In [32]:
train_predicted_df.shape[0]

17985755

In [33]:
train_events_df.shape[0]

17985754

In [34]:
set(train_predicted_df.id) - set(train_events_df.id)

{'subj4_series2_208724'}

In [35]:
train_predicted_df = train_predicted_df[train_predicted_df.id != 'subj4_series2_208724']

In [36]:
target_columns = train_events_df.columns.tolist()[1:7]

In [37]:
target_columns

['HandStart',
 'FirstDigitTouch',
 'BothStartLoadPhase',
 'LiftOff',
 'Replace',
 'BothReleased']

In [38]:
[(id1, id2) for id1, id2 in zip(train_events_df.id, train_predicted_df.id) if id1 != id2]

[]

In [39]:
roc_auc_score(train_events_df[target_columns].values, 
              train_predicted_df[target_columns].values)

0.9427299558596324

In [40]:
del  train_events_df

In [41]:
gc.collect()

7

In [42]:
train_predicted_df.to_csv("train_predicted_padded.csv", index=None)

In [43]:
del train_predicted_df

In [44]:
gc.collect()

0

## TEST

In [45]:
submit_df = pd.read_csv("../input/grasp-and-lift-eeg-detection/sample_submission.csv")

In [46]:
submit_df.shape

(3144171, 7)

In [47]:
test_predicted_df = pd.read_csv("../input/window-prediction-to-frame-predictions/test_frame_prediction.csv")

In [48]:
test_predicted_df[-10:]

         Unnamed: 0           ...                                id
3143315     3143315           ...            subj12_series10_142190
3143316     3143316           ...            subj12_series10_142191
3143317     3143317           ...            subj12_series10_142192
3143318     3143318           ...            subj12_series10_142193
3143319     3143319           ...            subj12_series10_142194
3143320     3143320           ...            subj12_series10_142195
3143321     3143321           ...            subj12_series10_142196
3143322     3143322           ...            subj12_series10_142197
3143323     3143323           ...            subj12_series10_142198
3143324     3143324           ...            subj12_series10_142199

[10 rows x 8 columns]

In [49]:
test_diff = set(submit_df.id) - set(test_predicted_df.id)

In [50]:
len(test_diff)

846

In [51]:
list(test_diff)[:10]

['subj2_series9_147345',
 'subj2_series9_147351',
 'subj7_series9_138059',
 'subj1_series10_117125',
 'subj2_series9_147371',
 'subj10_series10_128882',
 'subj6_series9_136828',
 'subj10_series10_128878',
 'subj11_series10_140943',
 'subj10_series10_128884']

In [52]:
rows = []
for id_ in test_diff:
    row = {col: 0 for col in target_columns} 
    row["id"] = id_
    rows.append(row)

In [53]:
len(rows)

846

In [54]:
test_predicted_df.shape

(3143325, 8)

In [55]:
test_predicted_df = test_predicted_df.append(rows, ignore_index=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [56]:
test_predicted_df.shape

(3144171, 8)

In [57]:
test_predicted_df[-10:]

         Unnamed: 0          ...                               id
3144161         NaN          ...             subj2_series9_147314
3144162         NaN          ...             subj7_series9_138010
3144163         NaN          ...             subj3_series9_111903
3144164         NaN          ...            subj7_series10_138941
3144165         NaN          ...             subj5_series9_131776
3144166         NaN          ...            subj1_series10_117086
3144167         NaN          ...             subj4_series9_121220
3144168         NaN          ...            subj6_series10_142650
3144169         NaN          ...            subj3_series10_113338
3144170         NaN          ...            subj1_series10_117114

[10 rows x 8 columns]

In [58]:
extracted = test_predicted_df["id"].str.extract(ID_PATTERN)

In [59]:
extracted[:10]

  subject series frame
0       1      9     0
1       1      9     1
2       1      9     2
3       1      9     3
4       1      9     4
5       1      9     5
6       1      9     6
7       1      9     7
8       1      9     8
9       1      9     9

In [60]:
for col in extracted.columns:
    test_predicted_df[col] = extracted[col].astype("int")

In [61]:
test_predicted_df = test_predicted_df.sort_values(by=["subject", "series", "frame"], axis=0)

In [62]:
test_predicted_df[:10]

   Unnamed: 0  BothReleased  BothStartLoadPhase  ...    subject  series  frame
0         0.0      0.013949             0.00303  ...          1       9      0
1         1.0      0.013949             0.00303  ...          1       9      1
2         2.0      0.013949             0.00303  ...          1       9      2
3         3.0      0.013949             0.00303  ...          1       9      3
4         4.0      0.013949             0.00303  ...          1       9      4
5         5.0      0.013949             0.00303  ...          1       9      5
6         6.0      0.013949             0.00303  ...          1       9      6
7         7.0      0.013949             0.00303  ...          1       9      7
8         8.0      0.013949             0.00303  ...          1       9      8
9         9.0      0.013949             0.00303  ...          1       9      9

[10 rows x 11 columns]

In [63]:
extracted = submit_df["id"].str.extract(ID_PATTERN)

In [64]:
for col in extracted.columns:
    submit_df[col] = extracted[col].astype("int")

In [65]:
del extracted

In [66]:
gc.collect()

40

In [67]:
submit_df = submit_df.sort_values(by=["subject", "series", "frame"], axis=0)

In [68]:
test_predicted_df.shape[0] - submit_df.shape[0]

0

In [69]:
[(id1, id2) for id1, id2 in zip(submit_df.id, test_predicted_df.id) if id1 != id2]

[]

In [70]:
submit_df[target_columns] = test_predicted_df[target_columns]

In [71]:
submit_df[:10]

                id  HandStart  FirstDigitTouch  ...    subject  series  frame
0  subj1_series9_0   0.018939         0.003316  ...          1       9      0
1  subj1_series9_1   0.018939         0.003316  ...          1       9      1
2  subj1_series9_2   0.018939         0.003316  ...          1       9      2
3  subj1_series9_3   0.018939         0.003316  ...          1       9      3
4  subj1_series9_4   0.018939         0.003316  ...          1       9      4
5  subj1_series9_5   0.018939         0.003316  ...          1       9      5
6  subj1_series9_6   0.018939         0.003316  ...          1       9      6
7  subj1_series9_7   0.018939         0.003316  ...          1       9      7
8  subj1_series9_8   0.018939         0.003316  ...          1       9      8
9  subj1_series9_9   0.018939         0.003316  ...          1       9      9

[10 rows x 10 columns]

In [72]:
submit_df.drop(columns=["subject", "series", "frame"], inplace=True)

In [73]:
submit_df.columns

Index(['id', 'HandStart', 'FirstDigitTouch', 'BothStartLoadPhase', 'LiftOff',
       'Replace', 'BothReleased'],
      dtype='object')

In [74]:
submit_df.to_csv("test_submission.csv", index=None)